<html>
<link href="/assets/style.css" rel="stylesheet" type="text/css">

<head>
    <title>ERROR PAGE</title>
</head>

<body>
    <div>
        PASSWORD IS WRONG<br>
        <button type="button" onclick="back()">BACK</button>
    </div>
    <script>
        function back() {
            location.href = "/api/login"
        }

    </script>

</body>

</html>