<html>

<head>
    <title>REGISTER SUCCESS</title>
</head>

<body>
    <h1>WELCOME NEW USER</h1>
    <button type="button" onclick="login()">Login</button>
    <script>
        function login() {
            location.href = "../../"
        }
    </script>
</body>

</html>